name: "Update Neovim Plugins"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 16 * * 0"
    - cron: "0 16 * * 3"

jobs:
  update-packages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"

      - run: git config --global user.email "lewdovico@gnuweeb.org"
      - run: git config --global user.name "Ludovico Piero"

      - name: Install Lix
        uses: samueldr/lix-gha-installer-action@latest

      - name: Run npins update
        run: |
          nix run nixpkgs#npins -- update
          if ! git diff --quiet; then
            git add .
            git commit -m "npins: update Neovim plugins"
          else
            echo "No plugin updates, skipping commit."
          fi

      - name: Create or update Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          title: "Automated neovim plugins updates"
          body: |
            - npins update ( for neovim plugins )
          labels: automated, uwu, keep-up-to-date
          branch: "package-update"
          delete-branch: true
